.newAnimal{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 800px;
    margin-right: 800px;
    font-size: 25px;
    background-color: rgb(223, 249, 255);

}